__pycache__/
*.pyc
*.pyo

notebooks/.ipynb_checkpoints/
.DS_Store
notebooks/test.ipynb
notebooks/InitialDataCheck.ipynb

# Ignore stuff in Bing's local: 
unused_codes/
notebooks/Testing.ipynb
~/data

# Tim gitignore stuff
./checkpoints
./wandb
